
        Общие требования к проекту:

    1. Приложение реализовать применяя технологии Servlet и JSP.
    2. Архитектура приложения должна соответствовать шаблонам Layered architecture
    и Model-View-Controller.
    3. Интерфейс приложения должен быть интернационализирован; выбор языков: английский, русский.
    4. Приложение должно корректно обрабатывать возникающие исключительные ситуации,
    в том числе вести их логирование. В качестве логгера использовать Log4j.
    5. Классы и другие сущности приложения должны быть грамотно структурированы по пакетам
    и иметь отражающую их функциональность название.
    6. При реализации бизнес-логики приложения следует при необходимости использовать шаблоны
    проектирования (например, шаблоны GoF: Factory Method, Command, Builder, Strategy, State, Observer etc),
    а также необходимо избегать процедурного стиля программирования.
    7. Для хранения пользовательской информации между запросами использовать сессию.
    8. Для обработки объектов запроса(request) и ответа(response) применить фильтры (например,
    для установки параметра кодировки запроса/ответа).
    9. При реализации страниц JSP следует использовать теги библиотеки JSTL, использовать скриплеты запрещено.
    Обязательным требованием является реализация и использование пользовательского тега.
    Просмотр “длинных списков” желательно организовывать в постраничном режиме.
    10. Документацию к проекту необходимо оформить согласно требованиям javadoc.
    11. Оформление кода должно соответствовать Java Code Convention.

        Общие требования к функциональности проекта:

    -Вход(sign in) и выход(sign out) в/из системы.
    -Регистрация.
    -Просмотр информации (например: просмотр всех курсов, имеющихся кредитных карт, счетов и т.д.)
    -Удаление информации (например: отмена заказа, медицинского назначения, отказ от курса обучения и т.д.)
    -Добавление и модификация информации (например: создать и отредактировать курс, создать и
    отредактировать заказ и т.д.)

        Информация о предметной области должна хранится в БД:
    - данные в базе хранятся на кириллице, рекомендуется применять кодировку utf-8
    - технология доступа к БД – JDBC (только JDBC)
    - для работы с БД в приложении должен быть реализован пул соединений
    - при проектировании БД рекомендуется не использовать более 6-8 таблиц
    - доступ к данным в приложении осуществлять с использованием шаблона DAO.