/* ADMIN PAGE COMMON */
.admin_block {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 15px;
}

.admin_block h2 {
    /*margin-top: 1rem;*/
    text-align: center;
    /*margin-bottom: 1rem;*/
    color: #fff;
}

.tab {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
}

.tablinks {
    color: #fff;
}

.tablinks:hover {
    color: black;
}

.tablinks.active {
    color: black;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: rgb(119, 163, 119);
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    color: #fff;
}
/* ADMIN PAGE END */

/* INNER TABS */
/*faclty*/
.tab3 {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
}

.tablinks3 {
    color: #fff;
}

.tablinks3:hover {
    color: black;
}

.tablinks3.active {
    color: black;
}

.tab3 button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab3 button:hover {
    background-color: rgb(119, 163, 119);
}

.tab3 button.active {
    background-color: #ccc;
}

.tabcontent3 {
    display: none;
    padding: 6px 12px;
    border-top: none;
    color: #fff;
}

/* usrs */
.tab2 {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
}

.tablinks2 {
    color: #fff;
}

.tablinks2:hover {
    color: black;
}

.tablinks2.active {
    color: black;
}

.tab2 button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab2 button:hover {
    background-color: rgb(119, 163, 119);
}

.tab2 button.active {
    background-color: #ccc;
}

.tabcontent2 {
    display: none;
    padding: 6px 12px;
    border-top: none;
    color: #fff;
}

/* gr rep*/
.tab1 {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
}

.tablinks1 {
    color: #fff;
}

.tablinks1:hover {
    color: black;
}

.tablinks1.active {
    color: black;
}

.tab1 button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab1 button:hover {
    background-color: rgb(119, 163, 119);
}

.tab1 button.active {
    background-color: #ccc;
}

.tabcontent1 {
    display: none;
    padding: 6px 12px;
    border-top: none;
    color: #fff;
}
/*INNER TABS END  */


/* ADD FACULTY */
.add_faculty {
    width: 80%;
    /*background-color: rgba(0, 0, 0, 0.7);*/
}

.add_faculty h3 {
    text-align: center;
}

.add_faculty input {
    width: 40%;
    height: 2rem;
}

.add_faculty .select1 {
    margin-left: 30px;
}
/* ADD FACULTY END*/


/*scroll faculty edit*/
.inner_edit {
    overflow: auto;
    height: 350px;
}
/*scroll faculty edit edn*/

/*table with fclt*/
table {
    color: white;
    border-spacing: 7px 5px;
}

td {
    /*text-align: left;*/
}
/*table with faculty end*/

/*crazy accept tab*/
img.displayed{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
/*.red{*/
/*    color: brown;*/
/*}*/
/*.blue{*/
/*    color: darkslateblue;*/
/*}*/


/*.but2 input{*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;*/
/*    font-size: 1.5em;*/
/*    font-weight: 700;*/
/*    color: rgb(245,245,245);*/
/*    text-shadow: 0 -1px rgba(0,0,0,.1);*/
/*    text-decoration: none;*/
/*    user-select: none;*/
/*    padding: .3em 1em;*/
/*    outline: none;*/
/*    border: none;*/
/*    background: #5e051a linear-gradient(#cd6b6b, #a30000);*/
/*}*/
/*.but2 input:hover {*/
/*    -webkit-animation-play-state: paused;*/
/*    animation-play-state: paused;*/
/*    cursor: pointer;*/
/*}*/

/*crazy accept tab end*/

/*button green*/
.add_faculty button {
    height: 3rem;
    width: 40%;
    align-self: center;
    color: #fff;
    border: none;
    background-color: rgb(119, 163, 119);
}

.tabcontent2 button {
    height: 3rem;
    width: 40%;
    align-self: center;
    color: #fff;
    border: none;
    background-color: rgb(119, 163, 119);
}
/*button green end*/

table{
    border: 1px solid white;
}
table a{
    text-decoration: none;
    color: #a30101;
}