.main_block {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 15px;
    color:white;
    height: 540px;
}

.main_block h2 {
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
    padding: 10px;
}

table{
    padding: 10px;
    color: white;
}

.news{
    padding-left: 1rem;
    padding-right: 1rem;
}