.main_block {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 15px;
    color:white;
    height: 540px;
}

.main_block h2 {
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
    padding: 10px;
}

table{
    padding: 10px;
    width: 40%;
    margin: auto;
    color: white;
}

.news{
    padding-left: 1rem;
    padding-right: 1rem;
}

table h3{
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
}
p{
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-size: 1.2rem;
}
hr{
    width: 90%;
}
h3{
    text-align: center;
}